* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  transition: 0.3s;
}

/* Background */

.light {
  background: linear-gradient(135deg, #74ebd5, #acb6e5);
  min-height: 100vh;
}

.dark {
  background: linear-gradient(135deg, #141e30, #243b55);
  min-height: 100vh;
  color: white;
}

/* Main Container */

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

/* Glass Card */

.dashboard {
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.2);
  padding: 30px;
  border-radius: 15px;
  width: 400px;
  box-shadow: 0 8px 32px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.dark .dashboard {
  background: rgba(0, 0, 0, 0.3);
}

/* Heading */

h1 {
  margin-bottom: 15px;
}

/* Input */

input {
  padding: 10px;
  width: 70%;
  border-radius: 8px;
  border: none;
  outline: none;
}

/* Buttons */

button {
  padding: 8px 14px;
  border-radius: 8px;
  border: none;
  margin: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

/* Button Hover */

button:hover {
  transform: scale(1.08);
  opacity: 0.9;
}

/* Task Card */

.task {
  background: white;
  padding: 12px;
  margin-top: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}

.task:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.dark .task {
  background: rgba(255,255,255,0.1);
}

/* Completed Task */

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

/* Theme Button */

.theme-btn {
  margin-bottom: 10px;
  background: #ff9800;
  color: white;
}
